:root {
  /*----- colours -----*/
  --black: black;
  --white: white;
  --olive: #3f6634;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

/*---------- Reset ----------*/
a,
a:hover {
  color: var(--white) !important;
  text-decoration: none;
}
header a:hover {
  -webkit-box-shadow: 0px 0px 1x 1px var(--white);
  box-shadow: 0px 0px 1px 2px var(--white);
}

.card-body {
  padding: 0;
}

/*---------- Common ----------*/
h2 {
  font-size: 3rem;
  font-weight: 600;
}

.white-text {
  color: var(--white);
}

#about,
#projects,
#contact {
  scroll-margin-top: 10vh; /* set to header height (or a bit more) to avoid top of section to be cut off when accessing the section from nav menu*/
}
/*---------- Header ----------*/

header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--black);
}

.navbar-brand {
  font-family: "Zeyada", cursive;
}

.main-nav {
  margin-left: auto;
}

/*---------- Home ----------*/

#home {
  height: 100vh;
}

#avatar-card {
  background-color: var(--black);
}

#main-name {
  font-size: 3.3rem;
}

#front-end {
  font-size: 2.4rem;
  background-color: var(--olive);
  background-position: center;
}

.down-arrow {
  width: 20%;
  margin: auto;
}

.down-arrow img {
  width: 30%;
  height: auto;
  margin: auto;
}

/*---------- About Me ----------*/
#about {
  min-width: 100%;
  height: 91vh;
  background-image: url(./assets/images/background.png);
  background-size: auto 100%;
}
#about #about-wrap {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--black);
  width: 100%;
  height: 100%;
}

#about #presentation span {
  /*key words in presentation paragraph*/
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
}

#about #presentation {
  border: 1px var(--white) solid;
  -webkit-box-shadow: 0px 0px 15px -7px var(--black);
  box-shadow: 0px 0px 15px -7px var(--black);
}

#tech {
  flex-wrap: wrap;
  width: 100%;
}

#tech img {
  width: 5%;
  height: auto;
  padding: 1rem;
}

#tech img:hover {
  -webkit-box-shadow: 0px 0px 15px -7px var(--black);
  box-shadow: 0px 0px 15px -7px var(--black);
}
/*---------- Projects ----------*/

#projects .card h3,
#projects .card p {
  color: var(--black);
}

#projects .card p {
  font-size: 0.8rem;
}

#projects .card:hover {
  -webkit-box-shadow: 0px 0px 10px 1px var(--white);
  box-shadow: 0px 0px 10px 1px var(--white);
}
